# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Local environment variables
.env
*.env

# Media and static files (if generated dynamically)
media/
staticfiles/

# Django migrations
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/*.py~
**/migrations/*.log
**/migrations/*.sqlite3

# Build artifacts
build/
dist/
*.egg-info/

# Testing and coverage
htmlcov/
.tox/
coverage.xml
.pytest_cache/
.cache

# MacOS
.DS_Store

# IDEs
.idea/
